{% load static %}
<html>
  <head>
    <title>Forgot Password</title>
    <link rel="stylesheet" href="{% static 'css/login_style.css' %}">
  </head>
  <body>
    <img src="{% static '/images/tixstar_logo.jpg' %}" width="60" height="60">
    <hr>
    <div class="spacingOne"></div>
    <div>
      <label>Hello</label>
    </div>
    <div class="spacingOne"></div>
    <div>
      <label>Enter your TSP email that you registered with.</label>
      <label>Using that we'll send an email over to you</label>
      <label>containing a link to reset your password.</label>
    </div>
    <div class="spacingOne"></div>
    <div><form action="{% url 'forgot_password' %}" method="post">
      {% csrf_token %}
      {{form.as_p}}
    </div>
    <!-- <div class="spacingOne"></div> -->
    {% include 'partials/messages.html' %}
    <div class="spacingOne"></div>
    <div>
      <input type="submit" aria-label="Send">
    </div></form>
    <div class="spacingOne"></div>
  </body>
</html>