{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
  <div class="navbar-nav mr-auto mb-2 mb-lg-0">
    <a class="navbar-brand navigation" href="{% url 'landing' %}">
      <img src="{% static '/images/tixstar_logo.jpg' %}" width="30" height="30" class="d-inline-block align-top" alt="An image of the logo">
      Tixstar
    </a>
  </div>
  <div class="navbar-nav ms-auto mb-2 mb-lg-0">
    <li class="nav-item">
      <a class="nav-link navigation" href="{% url 'login' %}">Login</a>
    </li>
    <li class="nav-item">
      <a class="nav-link navigation" href="{% url 'sign_up' %}">Sign up</a>
    </li>
  </div>
</nav>