{% autoescape off %}
Dear {{ user.full_name }},

We are sorry to inform you the upcoming event {{ event.name }}, for which you have purchased tickets, has been cancelled. 
You can view the details about the cancelled event on your order history.

We understand that this news may be disappointing, and we apologize for any inconvenience this may cause. 

As a ticket holder, you will receive a full refund for your purchase. 
You should expect to be contacted by the organising society(s) about the refund procedure within the next 5-7 business days. 
If you do not hear from the organising society(s) within this timeframe, please contact us.

We appreciate your support and thank you for choosing our platform for your ticket purchase.

If you have any questions or concerns, please do not hesitate to contact us.

Stay Tuned,

TSP
#1 ticket selling platform. since 2023
{% endautoescape %}