{% autoescape off %}
Dear {{ user.full_name }},

We are sorry to inform you the upcoming event {{ event.name }}, for which you have saved, has been cancelled. 
You can view the details about the cancelled event on your order history.

We understand that this news may be disappointing, and we apologize for any inconvenience this may cause. 

We appreciate your support and thank you for choosing our platform for your ticket purchase.

If you have any questions or concerns, please do not hesitate to contact us.

Stay Tuned,

TSP
#1 ticket selling platform. since 2023
{% endautoescape %}