{% extends 'base.html' %}
{% load static %}
{% block body %}
<script src="{% static 'js/society/event_search.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/society/events_list_style.css' %}"/>
<h1>Events</h1>
<div class="row filter_events d-flex justify-content-center">
  <div class="select_events col-9">
    <form method="GET">
      <div class="d-flex justify-content-center">
        <div class="form-group col-md-3">
          <select name="event_type" onchange="this.form.submit()">
          {% for option, display in options %}
            <option value="{{ option }}"
              {% if option == selected_option %}
                selected
              {% endif %}>
              {{ display }}
            </option>
          {% endfor %}
          </select>
        </div>
        <div class="form-group col-md-3 input-group-sm">
          <input class="form-control" id="searchbar" type="text" value="{{ search }}" name="search" placeholder="Search events..." onchange="this.form.submit()">
        </div>
        <button type="submit" class="btn btn-sm btn-primary custom-search-button"><i class="fas fa-search"></i></button>
      </div>
    </form>
  </div>
</div>
{% include 'partials/messages.html' %}
<div class="events-container">
  {% for event in object_list %}
    <div class="event">
      <a href="{% url 'event_detail' event.id %}" class="event-link">
        {% if event.photo %}
          <div class="event-photo">
            <img src="{{ event.photo.url }}" alt = "Event photo">
          </div>
        {% endif %}
        <div class="event-content">
          <p>
            <i class="fas fa-clock"></i>
            {% if event.start_time|date:"Y" == event.end_time|date:"Y" %}
              {{ event.start_time|date:"jS F" }}
              {% if event.start_time|date:"j" != event.end_time|date:"j" %}
                - {{ event.end_time|date:"jS F Y" }}
              {% endif %}
            {% else %}
              {{ event.start_time|date:"jS F" }} - {{ event.end_time|date:"jS F" }}
            {% endif %}
          </p>
          <h3>{{ event.name }}</h3>
          <p><i class="fas fa-map-marker-alt"></i> {{ event.location }}</p>
        </div>
      </a>
    </div>
  {% endfor %}
</div>
{% endblock %}