{% extends 'base.html' %}
{% load static %}
{% block body %}
<link rel="stylesheet" type="text/css" href="{% static 'css/society/member_pages_forms_style.css' %}">
<div class="container">
  <div class="col-12 card" id="card">
    <h1 class="text-center my-4">Set Membership Fee</h1>
    <small class="small-text">Membership fee for this academic year.</small>
    {% include 'partials/messages.html' %}
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {% for field in form %}
        <div class="form-group {% if field.errors %}has-error{% endif %}">
          <div class="custom-input-container">
            <div class="input-group mb-3">
              <span class="input-group-text">{{ field.label_tag }} </span>
              <div class="input-group-input">{{ field }}</div>
            </div>
          </div>
          {% if field.errors %}
            <p class="help-block">{{ field.errors.as_text }}</p>
          {% endif %}
        </div>
      {% endfor %}
      <div class="d-flex justify-content-center">
        <a href="{% url 'list_regular_member' %}" class="btn btn-primary">View Members</a>
        <input type="submit" class="btn btn-primary" value="Update" name="update_button">
      </div>
    </form>
  </div>
</div>
{% endblock %}